/* A Modern CSS Reset */

/* CSS Remedy */
*,::after,::before{box-sizing:border-box}html{line-sizing:normal}body{margin:0}h1{font-size:2rem}h2{font-size:1.5rem}h3{font-size:1.17rem}h4{font-size:1rem}h5{font-size:.83rem}h6{font-size:.67rem}h1{margin:.67em 0}pre{white-space:pre-wrap}hr{border-style:solid;border-width:1px 0 0;color:inherit;height:0;overflow:visible}audio,canvas,embed,iframe,img,object,svg,video{display:block;vertical-align:middle;max-width:100%}canvas,img,svg,video{height:auto}audio{width:100%}img{border-style:none}svg{overflow:hidden}article,aside,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}
.row{
    text-align: center;
     
}

#plofile {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover {
    background-color: #f8f9fa;
}

.navbar-brand {
    color: white;
}

a {
    color: white;

}

.chatwork {
    color:white;
    width:5%;
    height:30%;
    display:flex;
    padding-left: 
    display: block;
    
    
}

.footer_comment {
    background-color: #17a2b8;
    display:flex;
    color: White;

}

.footer_comment p {
    margin-right:0 auto;
    padding: 30px;
}

.sns{
    display:flex;
    margin-left: 50%;
    padding-top: 30px;
    
    
}

i {
    padding-left: 20px;
}

@media screen and (max-width: 480px)　{
    .modal-content {
        width: 80%;
        margin: 0 auto;

 }

}

.formrun {
    display: block;
    text-aline: center;
}


header {
    width: 100%;
    height: 60px;
  }
  
  footer {
    font-size: 15px;
    text-align: center;
    margin-top: 100px;
  }
  
  h1  {
    line-height: 60px;
    font-size: 24px;
    color: #333
  }
  
  h2 {
      letter-spacing: 1.6px;
      padding: 30px 15px 0px;
      color: #333;
      font-weight: 800;
      margin: 60px 0;
      height: 40px;
      font-size: 40px;
      line-height: 40px;
      text-align:center;
      
  }
  
  .container{
    padding: 20px;

  }
  
  /*==============================■
  　フォーム欄のフォーム部分CSS
  ■==============================*/
  
  .contact-form{
    margin: 0 auto;
    padding-left: 40px;
    text-align: center;
    color: #208A3A;
    width: 50%;
  }

  body { 
  font-family:"ヒラギノ丸ゴ ProN";
  padding: 40px;
  text-align: center; 
}

header {
  width: 100%;
  height: 60px;
}

footer {
  font-size: 15px;
  text-align: center;
  margin-top: 100px;
}

h1  {
  line-height: 60px;
  font-size: 24px;
  color: #333
}


.container{
  padding: 20px;
  background: #fafafa
}

/*==============================■
　フォーム欄のフォーム部分CSS
■==============================*/

.contact-form{
  margin: 0 auto;
  padding-left: 40px;
  text-align: center;
  color: #208A3A;
  width: 50%;
}

.contact-wrap p {
  text-align: left;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 14px;
}

.contact-wrap span {
  font-weight: bold;
}

.section form {
  width: 70%;
  background: #EFEFEF;
  border-radius: 5px;
  border: 1px solid #707070;
  padding-left: 2%;
  outline: 0;
  text-align: center;
}

.form:focus {
  background: #F1FFF3;
  border: 2px solid #37C170;
}

#name {
  height: 30px;
}

#email {
  height: 30px;
}

#contact {
  height: 100px;
}

.contact-submit {
  margin-top: 5%;
  padding-bottom: 10px;
  text-align: center;
}

#submit {
  background: rgb(55, 193, 112);
  border-radius: 5px;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  outline: 0;
}

#submit:hover {
  background: rgba(55, 193, 112, 0.8);
}

#reset {
  background: rgb(241, 255, 243);
  border-radius: 5px;
  padding: 8px 18px;
  border: 2px solid rgba(112, 112, 112, 0.5);
  outline: 0;
}

#reset:hover {
  background: rgba(241, 255, 243, 0.8);
  border: 2px solid rgba(112, 112, 112, 0.8);
  color: rgba(112, 112, 112, 0.8);
}

